# Database
db.sqlite
*.db
*.db-journal
node_modules/
.next/
.vercel/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env
.env*.local

# Build artifacts
package-lock.json
postcss.config.mjs
