# Database
.db
*.db
*.db-journal
db.sqlite
node_modules/
.next/
.vercel/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env
.env*.local
